@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: block;
  background-color: #00162b;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

.section {
  margin: 24px;
  min-height: 150px;
}

#content-container,
#content-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 48px 0;
}

.intro-text,
.info-block,
.profile-description {
  max-width: 850px;
  width: auto;

  padding: 0 24px;
}

.profile {
  background-image: linear-gradient(
      to bottom,
      rgba(232, 244, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) calc(80vh - 350px),
      #00162b 100%
    ),
    url("./media/beach.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 80vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 48px 48px 96px 48px;

  height: auto;
  margin: 0;
  gap: 32px;
}

.profile-picture,
.profile-info,
.profile-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: auto;
  padding: 0;
}

.profile-picture img {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  border: 4px rgb(85, 102, 130) solid;
}

.profile-info {
  flex-direction: column;
  gap: 8px;
}

.profile-info__name {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 42px;
  font-weight: 700;

  min-width: 100%;
  /* border: 5px yellow solid; */
}

.profile-info__attributes {
  display: flex;
  align-items: left;
  justify-content: left;
  gap: 8px;
  font-size: 26;
  font-weight: 300;
  min-width: 100%;
  color: rgba(255, 255, 255, 0.6);
  /* border: 5px yellow solid; */
}

.profile-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

.social-media-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 0;
  font-size: 28px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);
}

a.social-media-btn {
  text-decoration: none;
}

.intro-text {
  display: block;
  min-height: auto;
  font-size: 28px;
  font-weight: 500;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 48px 24px;
  background-color: #ffffff0d;
  border-radius: 16px;
  gap: 48px;
}

#info-block-one,
#info-block-two,
#info-block-three {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: left;
  gap: 48px;
}

#info-block-one > *,
#info-block-two > *,
#info-block-three > * {
  flex: 1;
}

.info-block__element {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.info-block__parameter {
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}

.info-block__argument {
  font-size: 18px;
  font-weight: 500;
}

#info-block-three .info-block__argument {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#info-block-three .info-block__argument > * {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.profile-description {
  display: flex;
  flex-direction: column;
  min-height: auto;
  gap: 24px;
}

.profile-description * > {
  font-weight: 300;
  line-height: 1.5;
}

.scroll-effect {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./media/kite-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 24px 0;
}

.scroll-effect__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  padding: 0 24px;
  margin: 48px 0;
}

.scroll-effect__content > * {
  max-width: 700px;
  height: auto;
  flex: 1;
  padding: 28px;

  background-color: rgba(0, 15, 30, 0.4);
  backdrop-filter: blur(8px);
  border-radius: 8px;

  /* border: 8px yellow solid; */
}

#zitat {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

#zitat .zitat-svg {
  width: 100%;
}

#zitat .zitat-svg svg {
  fill: #fff3;
  width: 52px;
  height: 39px;
  display: block;
}

.zitat-author {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.zitat-author > img {
  max-width: 32px;
  height: 32px;
  border-radius: 50%;
}

.zitat-author > p {
  font-size: 24px;
}

#education > * {
  border-bottom: rgba(255, 255, 255, 0.1) solid 1px;
  padding: 24px 0;
}

#education-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 0 8px 0;
  gap: 16px;
}

#education-header p {
  font-size: large;
}

.education-icon {
  font-size: larger;
}

.education-step {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.education-date {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 8px;

  font-size: small;
  font-weight: 100;
}

.education-title p {
  font-size: larger;
  font-weight: 500;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(248, 248, 248);
  margin: 0;
  padding: 24px;
  box-sizing: border-box;
  gap: 48px;
}

#skills > p{
  font-size: larger;
  font-weight: 700;
  text-align: center;
  color: #000000;

  margin-top: 48px;
}

.skills-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  overflow-x: scroll;
  gap: 40px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.skill-logo {
  flex: 0 0 auto;
  max-height: 80px;
  height: auto;
}

.portfolio {
  display: flex;
  flex-direction: row;
  gap: 24px;
  max-width: 850px;
  width: 100%;

  padding: 0 24px;
}

#content-container-2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#content-container-2 > p{
  font-size: larger;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;

  margin-top: 48px;
}

#light-pollution,
#dream-destination {
  background-image: url("./media/light-pollution.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
}

#dream-destination {
  background-image: url("./media/dream-destination.jpg")
}

.portfolio-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 0;
  font-size: 48px;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 1);
}

a.portfolio-btn {
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;

  margin: 48px 24px;
}

#Contact {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  width: 100%;

  padding: 48px 24px;
  gap: 16px;
}

#Contact > p {
  font-weight: 700;
}

#Phone,
#Email,
#Address,
#LinkedIn,
#Instagram {
  display: flex;
  flex-direction: row;

  gap: 16px;

  font-size: medium;
}

.footer-icon {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
  .profile-info__name {
    align-items: center;
  }
  .profile-info__attributes {
    justify-content: center;
    align-items: center;
  }
  #info-block-one,
  #info-block-two {
    flex-direction: column;
  }
  .scroll-effect__content > * {
    padding: 16px;
  }
  .zitat-author > p {
    font-size: 16px;
  }
  #education > * {
    padding: 16px 0;
  }
  .education-title p {
    font-size: medium;
    font-weight: 500;
  }
  .skills-container {
    gap: 20px;
    justify-content: left;
  }
  .portfolio {
    flex-direction: column;
  }
}
