@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: block;
  background-color: #00162b;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* .fading-background {
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(
      to bottom,
      rgba(232, 244, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) calc(100vh - 350px),
      rgba(9, 24, 93, 1) 100%
    ),
    url("./media/beach.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  height: 100vh;
  border: 8px yellow solid;
} */

.section {
  margin: 24px;
  min-height: 150px;
  /* border: 5px green solid; */
}

.profile {
  background-image: linear-gradient(
      to bottom,
      rgba(232, 244, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) calc(100vh - 350px),
      #00162b 100%
    ),
    url("./media/beach.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100vh;

  /* z-index: 2; */
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translate(0, -50%); */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: auto;
  margin: 0;
  padding: 48px;
  gap: 32px;
}

.profile-picture,
.profile-info,
.profile-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 100%;
  height: auto;
  padding: 0;
  /* border: 5px blue solid; */
}

.profile-picture img {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  border: 4px rgb(85, 102, 130) solid;
}

.profile-info {
  flex-direction: column;
  gap: 8px;
}

.profile-info__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 42px;
  font-weight: 700;

  min-width: 100%;
  /* border: 5px yellow solid; */
}

.profile-info__attributes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 26;
  font-weight: 300;
  min-width: 100%;
  color: rgba(255, 255, 255, 0.6);
  /* border: 5px yellow solid; */
}

.profile-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

.social-media-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 0;
  font-size: 28px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);
}

a.social-media-btn {
  text-decoration: none;
}

.intro-text {
  display: block;
  min-height: auto;
  font-size: 28px;
  font-weight: 500;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 48px 24px;
  background-color: #ffffff0d;
  border-radius: 16px;
  gap: 48px;
}

#info-block-one,
#info-block-two {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 48px;
}

.info-block__element {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.info-block__parameter {
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}

.info-block__argument {
  font-size: 24px;
  font-weight: 500;
}

.profile-description {
  min-height: auto;
  font-weight: 300;
}

.scroll-effect {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./media/kite-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 24px 0;
}

.scroll-effect__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  padding: 0 24px;
}

.scroll-effect__content > * {
  max-width: 700px;
  height: auto;
  flex: 1;
  padding: 28px;

  background-color: rgba(0, 15, 30, 0.4);
  backdrop-filter: blur(8px);
  border-radius: 8px;

  /* border: 8px yellow solid; */
}

#zitat {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

#zitat .zitat-svg {
  width: 100%;
}

#zitat .zitat-svg svg {
  fill: #fff3;
  width: 52px;
  height: 39px;
  display: block;
}

.zitat-author {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.zitat-author > img {
  max-width: 32px;
  height: 32px;
  border-radius: 50%;
}

.zitat-author > p {
  font-size: 24px;
}

#education > * {
  border-bottom: rgba(255, 255, 255, 0.1) solid 1px;
  padding: 24px 0;
}

#education-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 0 8px 0;
  gap: 16px;
}

#education-header p {
  font-size: large;
}

.education-icon {
  font-size: larger;
}

.education-step {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.education-date {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 8px;

  font-size: small;
  font-weight: 100;
}

.education-title p {
  font-size: larger;
  font-weight: 500;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(248, 248, 248);
  margin: 0;
  padding: 24px 0;
  box-sizing: border-box;
  gap: 16px;
}

#skills > p {
  font-size: large;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.skills-container {
  display: flex;
  width: 80%; 
  max-width: 600px; 
  overflow-x: auto;
  gap: 20px;
  padding: 0 24px 24px 24px; 
  box-sizing: border-box; 
  margin-left: auto;
  margin-right: auto;
}

.skill-logo {
  flex: 0 0 auto; 
  max-height: 80px; 
  height: auto;
}

.skills-container::-webkit-scrollbar {
  height: 8px;
}

.skills-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 4px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: top;

  margin: 96px 24px;
  padding-bottom: 48px;
}

#Contact {
  margin-right: auto;
}

#Contact,
#Social {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

#Contact > p,
#Social > p {
  font-weight: 700;
}

#Phone,
#Email,
#Address,
#LinkedIn,
#Instagram {
  display: flex;
  flex-direction: row;

  gap: 16px;

  font-size: medium;
}

.footer-icon {
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 768px) {
  .scroll-effect__content > * {
    padding: 16px;
  }
  .zitat-author > p {
    font-size: 16px;
  }
  #education > * {
    padding: 16px 0;
  }
  .education-title p {
    font-size: medium;
    font-weight: 500;
  }
  footer {
    flex-direction: column;
    gap: 24px;
  }
}
