@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  background-color: rgba(9, 24, 93, 1);
  font-family: "Roboto", sans-serif;
  color: aliceblue;
}

.fading-background {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(
      to bottom,
      rgba(232, 244, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) calc(100vh - 350px),
      rgba(9, 24, 93, 1) 100%
    ),
    url("./media/beach.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  height: 100vh;
}

.section {
  margin: 0 48px;
  min-height: 150px;
  /* border: 5px red solid; */
}

.profile {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(0, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-width: calc(100% - 96px);
  height: 80vh;
  padding: 48px;
  gap: 32px;
}

.profile-picture,
.profile-info,
.profile-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 100%;
  height: auto;
  padding: 0;
  /* border: 5px blue solid; */
}

.profile-picture img {
  max-width: 155px;
  height: auto;
  border-radius: 50%;
  border: 4px rgb(45, 58, 96) solid;
}

.profile-info {
  flex-direction: column;
  gap: 8px;
}

.profile-info__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 42px;
  font-weight: 700;

  min-width: 100%;
  /* border: 5px yellow solid; */
}

.profile-info__attributes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 26;
  font-weight: 300;

  min-width: 100%;
  /* border: 5px yellow solid; */
}

.profile-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

.social-media-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 0;
  font-size: 32px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: rgb(178, 215, 255);
  color: rgba(45, 100, 255, 1);
}

a.social-media-btn {
  text-decoration: none;
}

.intro-text {
  display: block;
  margin-top: 48px;
  min-height: auto;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.5;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 48px 24px;
  background-color: rgb(45, 58, 96);
  border-radius: 16px;
  gap: 48px;
  margin-top: 48px;
}

.info-element {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-parameter {
  font-size: 18px;
  font-weight: 300;
}

.info-argument {
  font-size: 24px;
  font-weight: 500;
}

.profile-description {
  min-height: auto;
  margin-top: 48px;
  line-height: 1.5;
  font-weight: 300;
}