@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: block;
  background-color: #00162b;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* .fading-background {
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(
      to bottom,
      rgba(232, 244, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) calc(100vh - 350px),
      rgba(9, 24, 93, 1) 100%
    ),
    url("./media/beach.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  height: 100vh;
  border: 8px yellow solid;
} */

.section {
  margin: 24px;
  min-height: 150px;
  border: 5px green solid;
}

.profile {
  background-image: linear-gradient(
      to bottom,
      rgba(232, 244, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) calc(100vh - 350px),
      #00162b 100%
    ),
    url("./media/beach.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100vh;

  /* z-index: 2; */
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translate(0, -50%); */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: auto;
  margin: 0;
  padding: 48px;
  gap: 32px;
}

.profile-picture,
.profile-info,
.profile-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 100%;
  height: auto;
  padding: 0;
  /* border: 5px blue solid; */
}

.profile-picture img {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  border: 4px rgb(85, 102, 130) solid;
}

.profile-info {
  flex-direction: column;
  gap: 8px;
}

.profile-info__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 42px;
  font-weight: 700;

  min-width: 100%;
  /* border: 5px yellow solid; */
}

.profile-info__attributes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 26;
  font-weight: 300;
  min-width: 100%;
  color: rgba(255, 255, 255, 0.6);
  /* border: 5px yellow solid; */
}

.profile-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

.social-media-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 0;
  font-size: 28px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);
}

a.social-media-btn {
  text-decoration: none;
}

.intro-text {
  display: block;
  min-height: auto;
  font-size: 28px;
  font-weight: 500;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 48px 24px;
  background-color: #ffffff0d;
  border-radius: 16px;
  gap: 48px;
}

.info-block__element {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-block__parameter {
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}

.info-block__argument {
  font-size: 24px;
  font-weight: 500;
}

.profile-description {
  min-height: auto;
  font-weight: 300;
}

.scroll-effect {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  width: 100%;
  height: 100vh;
  max-height: 100vh;

  margin-left: 0;
  margin-right: 0;
}

.scroll-effect__background {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.scroll-effect__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scroll-effect__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  padding: 0 24px;
}

.scroll-effect__content > * {
  max-width: 700px;
  height: auto;
  flex:1;
  padding: 28px;

  background-color: rgba(0, 15, 30, 0.4);
  backdrop-filter: blur(44px);
}

#zitat .zitat-svg {
  /* width: 100%; */
}

#zitat .zitat-svg svg {
  fill: #fff3;
  width: 52px;
  height: 39px;
  display: block;
}

.scroll-effect__content > * {
  border: 8px yellow solid;
}
